{extend name="base" /}
{block name="title"}<title>日客资统计</title>{/block}
{block name="css"}
 <style>
    table{border-collapse:collapse;}
	table,th,tr,td{border: 1px solid black;}
	.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {border-top: 1px solid black;}
 </style>
 <!-- bootstrap-datepicker -->
<link rel="stylesheet" type="text/css"  href="/static/admin/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" />
{/block}


{block name="pageheader"} 
    <section class="content-header">
      <h1>
        日客资报表
        <small>{$area}-{$day}</small>
      </h1>
      <ol class="breadcrumb">
        <form class="form-inline" action="" method="get">
		  <div class="form-group">
		    <input type="text" name="day" class="form-control input-sm" id="datepicker" data-date-end-date="0d">
		  </div>
		  <button type="submit" class="btn btn-default btn-sm">查询</button>
		</form>
      </ol>
    </section>

    {/block}

{block name="content"}

<div class="table-responsive">
  <table class="table table-hover">
    <tr>
    	<td>渠道</td>
	    <td>获取</td>
	    <td>有效</td>
	    <td>无效</td>
	    <td>待定</td>
    </tr>
    {foreach $result as $key=>$vo } 
	    <tr>
		    <td>{$key}</td>
		    <td>{php}echo $hq=(isset($vo['hq'])?$vo['hq']:0){/php}</td>
		    <td>{php}echo $yx=(isset($vo['yx'])?$vo['yx']:0){/php}</td>
		    <td>{php}echo $wx=(isset($vo['wx'])?$vo['wx']:0){/php}</td>
		    <td>{php}echo $dd=$hq-$yx-$wx{/php}</td>
	  	</tr>
	{/foreach}
	    

  </table>
</div>



{/block}

{block name="jstwo"}
<!-- bootstrap-datepicker -->
<script src="/static/admin/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script src="/static/admin/bower_components/bootstrap-datepicker/dist/locales/bootstrap-datepicker.zh-CN.min.js" charset="UTF-8"></script>
<script>
  $('#datepicker').datepicker({
      todayBtn: "linked",
      format: 'yyyy-mm-dd',
      autoclose: true,
      language: 'zh-CN',
      todayHighlight: true
    })
</script>

{/block}
