{extend name="base" /}
{block name="title"}<title>source</title>{/block}
{block name="pageheader"} 
    <section class="content-header">
      <h1>
        日客资报表
        <small>source report</small>
      </h1>
    </section>
    {/block}

{block name="content"}

<div class="table-responsive">
  <table class="table table-bordered">
    <tr>
    	<td>渠道</td>
	    <td>获取</td>
	    <td>有效</td>
	    <td>待定</td>
	    <td>无效</td>
	    <td>A类</td>
	    <td>B类</td>
	    <td>C类</td>
	    <td>D类</td>
	    <td>E类</td>
	    <td>F类</td>
	    <td>未填</td>
    </tr>
    <tr>
	    <td>J1</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
  </tr>
  <tr>
	    <td>J2</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
  </tr>
  <tr>
	    <td>J3</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
  </tr>
  <tr>
	    <td>J4</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
  </tr>
  <tr>
	    <td>J5</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
  </tr>
  <tr>
	    <td>J6</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
  </tr>
  <tr>
	    <td>J7</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
  </tr>
  <tr>
	    <td>J8</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
  </tr>
  <tr>
	    <td>J9</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
  </tr>
  <tr>
	    <td>J10</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
  </tr>
  <tr>
	    <td>J11</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
  </tr>
  <tr>
	    <td>J12</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
  </tr>
  <tr>
	    <td>J13</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
  </tr>
  <tr>
	    <td>J14</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
  </tr>
  <tr>
	    <td>J15</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
  </tr>
  <tr>
	    <td>J16</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
  </tr>
  </table>
</div>




 {/block}

