{extend name="base" /}
{block name="title"}<title>source</title>{/block}
{block name="pageheader"} 
    <section class="content-header">
      <h1>
        日客资报表
        <small>source report</small>
      </h1>
    </section>
    {/block}

{block name="content"}

<div class="table-responsive">
  <table class="table table-bordered">
    <tr>
    	<td colspan="2">成都日客资180709</td>
	    <td>微博</td>
	    <td>微信</td>
	    <td>广点通</td>
	    <td>百度</td>
	    <td>XXX</td>
	    <td>360</td>
	    <td>搜狗</td>
	    <td>SSS</td>
	    <td>dss</td>
	    <td>adas</td>
    </tr>
    <tr>
	    <td>汇总</td>
	    <td>项目</td>
	    <td>J1</td>
	    <td>J2</td>
	    <td>J3</td>
	    <td>J4</td>
	    <td>J5</td>
	    <td>J6</td>
	    <td>J7</td>
	    <td>J8</td>
	    <td>J9</td>
	    <td>J10</td>
  </tr>
  <tr>
	    <td>cell</td>
	    <td>花费</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
  </tr>
  <tr>
	    <td>cell</td>
	    <td>获取</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
  </tr>
  <tr>
	    <td>cell</td>
	    <td>有效</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
  </tr>
  <tr>
	    <td>cell</td>
	    <td>进店</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
  </tr>
  <tr>
	    <td>cell</td>
	    <td>成交</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
  </tr>
  <tr>
	    <td>cell</td>
	    <td>流失</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
  </tr>
  <tr>
	    <td>cell</td>
	    <td>有效率</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
  </tr>
  <tr>
	    <td>cell</td>
	    <td>获取成本</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
  </tr>
  <tr>
	    <td>cell</td>
	    <td>有效成本</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
  </tr>
  <tr>
	    <td>cell</td>
	    <td>成交成本</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
  </tr>
  <tr>
	    <td>cell</td>
	    <td>有效到进店</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
  </tr>
  <tr>
	    <td>cell</td>
	    <td>进店到成交</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
  </tr>
  <tr>
	    <td>cell</td>
	    <td>有效到成交</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
  </tr>
  <tr>
	    <td>cell</td>
	    <td>套总</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
  </tr>
  <tr>
	    <td>cell</td>
	    <td>均价</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
	    <td>cell</td>
  </tr>
  </table>
</div>




 {/block}

