<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>test</title>
</head>
<body>
	<div>
  <table>
    <tr>
    	<td>渠道</td>
	    <td>A</td>
	    <td>B</td>
	    <td>C</td>
	    <td>D</td>
      <td>E</td>
      <td>F</td>
      <td>未填</td>
    </tr>
    {foreach $result as $key=>$vo } 
      <tr>
        <td>{$key}</td>
        <td>{php}echo $a=(isset($vo['a'])?$vo['a']:0){/php}</td>
        <td>{php}echo $b=(isset($vo['b'])?$vo['b']:0){/php}</td>
        <td>{php}echo $c=(isset($vo['c'])?$vo['c']:0){/php}</td>
        <td>{php}echo $d=(isset($vo['d'])?$vo['d']:0){/php}</td>
        <td>{php}echo $e=(isset($vo['e'])?$vo['e']:0){/php}</td>
        <td>{php}echo $f=(isset($vo['f'])?$vo['f']:0){/php}</td>
        <td>{php}echo $z=(isset($vo['z'])?$vo['z']:0){/php}</td>
      </tr>
    {/foreach}
    

	    

  </table>
</div>
</body>
</html>