{extend name="base" /}
{block name="title"}<title>渠道管理</title>{/block}
{block name="css"}{/block}
{block name="jsone"}{/block}
{block name="pageheader"} 
<section class="content-header">
  <h1>
    渠道管理
    <small>source manage</small>
  </h1>
</section> 
{/block}

{block name="content"}

  <div class="box">
    <div class="box-header">
      <h3 class="box-title">渠道列表</h3>

      <div class="box-tools">
        <div class="input-group input-group-sm" style="width: 50px;">
          <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#ModalAddChannel">
            添加渠道
          </button>
        </div>
      </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body table-responsive no-padding">
      <table class="table table-hover">
        <tbody>
          <tr>
            <th>ID</th>
            <th>渠道代码</th>
            <th>渠道名称</th>
            <th>所属店铺</th>
            <th>所属分组</th>
            <th>状态</th>
            <th>操作</th>
          </tr>
          {foreach $list as $key=>$vo } 
              <tr>
                <td>{$vo.id}</td>
                <td>{$vo.code}</td>
                <td>{$vo.cname}</td>
                <td>{$vo.store}</td>
                <td>{$vo.cgroup}</td>
                <td>{$vo.status}</td>
                <td><!-- <button type="button" class="btn btn-warning btn-xs">禁用</button>
                    <button type="button" class="btn btn-default btn-xs">编辑</button> -->
                    <button type="button" class="btn btn-danger btn-xs"><a href="admin/channel/delete?id={$vo.id}">删除</a></button>
                </td>
              </tr>
          {/foreach}
          

        
      </tbody></table>
    </div>
    <!-- /.box-body -->
  </div>
  <!-- /.box -->
  <!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="ModalAddChannel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">添加渠道</h4>
      </div>
      <div class="modal-body">
        <form role="form" id="idata-form">
              <div class="box-body">
                <div class="form-group">
                  <label for="code">渠道代码</label>
                  <input type="text" class="form-control" name="code" placeholder="Enter code">
                </div>
                <div class="form-group">
                  <label for="cname">渠道名称</label>
                  <input type="text" class="form-control" name="cname" placeholder="Enter code">
                </div>
                <div class="form-group">
                  <label>所属分组</label>
                  <select class="form-control" name="cgroup">
                    <option selected="selected">推广</option>
                    <option>其他</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>所属店铺</label>
                  <select class="form-control" name="store">
                    <option selected="selected">总店</option>
                    <option>眉山</option>
                    <option>雅安</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>渠道状态</label>
                  <select class="form-control" name="status">
                    <option selected="selected">可用</option>
                    <option>禁用</option>
                  </select>
                </div>
              </div>
              <!-- /.box-body -->
            </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" onclick="channel.add()">提交</button>
      </div>
    </div>
  </div>
</div>



 {/block}

{block name="jstwo"}
<script src="/static/admin/JS/channel.js"></script>
{/block}