{extend name="base" /}
{block name="title"}<title>用户中心</title>{/block}
{block name="pageheader"} 
    <section class="content-header">
      <h1>
        用户管理
        <small>users manage</small>
      </h1>
    </section>
    {/block}

{block name="content"}

<div class="row">
	<div class="col-xs-12">
		<div class="box box-primary">
			<div class="box-body">
				<div class="col-md-6">

						<div class="box-body">
							<div class="form-group">
								<label for="exampleInputEmail1">邮箱/Email address</label>
								<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
							</div>
							<div class="form-group">
								<label for="exampleInputName1">昵称/Nikename</label>
								<input type="text" class="form-control" id="exampleInputName1" placeholder="Nikename">
							</div>
							<div class="form-group">
								<label for="exampleInputPassword1">密码/Password</label>
								<input type="text" class="form-control" id="exampleInputPassword1" placeholder="Password">
							</div>
						</div>

				</div>
				<div class="col-md-6">

						<div class="box-body">
							<div class="form-group">
								<label for="exampleInputEmail1">邮箱/Email address</label>
								<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
							</div>
							<div class="form-group">
								<label for="exampleInputName1">昵称/Nikename</label>
								<input type="text" class="form-control" id="exampleInputName1" placeholder="Nikename">
							</div>
							<div class="form-group">
								<label for="exampleInputPassword1">密码/Password</label>
								<input type="text" class="form-control" id="exampleInputPassword1" placeholder="Password">
							</div>
						</div>
						<div class="box-footer">
							<button type="submit" class="btn btn-primary pull-right">提交</button>
						</div>
						
				</div>
			</div>
		</div>
	</div>
</div>






 {/block}

