{extend name="base" /}
{block name="title"}<title>用户中心</title>{/block}
{block name="css"}

{/block}
{block name="pageheader"} 
    <section class="content-header">
      <h1>
        用户管理
        <small>users manage</small>
      </h1>
    </section>
{/block}

{block name="content"}

<div class="row">
        <!-- left column -->
        <div class="col-md-3">
          <!-- general form elements -->
          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">账号密码</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" method="post">
              <div class="box-body">
                <div class="form-group">
                  <label for="Nikename">用户名</label>
                  <input type="text" class="form-control" id="Nikename" name="username" placeholder="Nikename" value="{$user.username}">
                </div>
                <div class="form-group">
                  <label for="Email1">邮箱</label>
                  <input type="email" class="form-control" id="Email1" name="email" placeholder="Enter email" value="{$user.email}">
                </div>
                <div class="form-group">
                  <label for="Password">密码</label>
                  <input type="password" class="form-control" id="Password" name="password" placeholder="Password" value="{$user.password}">
                </div>
                <div class="form-group">
                  <label>状态</label>
                  <select class="form-control" name="status">
                    {foreach $select.user_status as $vo } 
                      <option {eq name="$vo" value="$user.status"} selected{/eq}>{$vo}</option>
                    {/foreach}
                  </select>
                </div>
                <div class="form-group" name="ugroup">
                  <label>分组</label>
                  <select class="form-control">
                    {foreach $select.user_group as $vo } 
                      <option {eq name="$vo" value="$user.ugroup"} selected{/eq} >{$vo}</option>
                    {/foreach}
                  </select>
                </div>
                <div class="form-group">
                  <label>角色</label>
                  <select class="form-control" name="role">
                    {foreach $select.user_role as $vo } 
                      <option {eq name="$vo" value="$user.role"} selected{/eq}>{$vo}</option>
                    {/foreach}
                  </select>
                </div>
              </div>
              
              <!-- /.box-body -->

              <div class="box-footer">
                <input type="text" style="display: none;" name="action" value="updateuser">
                <button type="submit" class="btn btn-success pull-right">提交</button>
              </div>
            </form>
          </div>
          <!-- /.box -->

        </div>
        <!--/.col (left) -->
        <!-- right column -->
        <div class="col-md-9">
            <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">渠道管理</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" method="post" action="">
              <div class="box-body">
                <div class="form-group">
                <label>选取渠道</label>
                <select name="channel[]" class="form-control select2" multiple="multiple" data-placeholder="点击开始选择"style="width: 100%;">
                  {foreach $channel as $vo } 
                    {empty name="owner"}
                      <option>{$vo}</option>
                    {else /}
                      {foreach $owner as $ow}
                        {if $ow == $vo}<option selected>{$vo}</option>
                        {else /}<option>{$vo}</option>
                        {/if}
                      {/foreach}
                    {/empty}
                  {/foreach}
                </select>
              </div>
              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                <input type="text" style="display: none;" name="action" value="editchannel">
                <button type="submit" class="btn btn-primary pull-right">提交</button>
              </div>
            </form>
          </div>
              

        </div>
        <!--/.col (right) -->
      </div>



 {/block}

{block name="jstwo"}

<script src="/static/admin/bower_components/select2/dist/js/select2.full.min.js"></script>
<script>
	$('.select2').select2()
</script>


{/block}