{extend name="base" /}
{block name="title"}<title>用户中心</title>{/block}
{block name="css"}

{/block}
{block name="pageheader"} 
    <section class="content-header">
      <h1>
        用户管理
        <small>users manage</small>
      </h1>
    </section>
{/block}

{block name="content"}

<div class="row">
        <!-- left column -->
        <div class="col-md-3">
          <!-- general form elements -->
          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">账号密码</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form">
              <div class="box-body">
                <div class="form-group">
                  <label for="exampleInputNikename1">用户名</label>
                  <input type="text" class="form-control" id="exampleInputNikename1" placeholder="Nikename">
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">邮箱</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">密码</label>
                  <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="form-group">
                  <label>状态</label>
                  <select class="form-control">
                    <option>可用</option>
                    <option>禁用</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>分组</label>
                  <select class="form-control">
                    <option>分组一</option>
                    <option>分组二</option>
                  </select>
                </div>
              </div>
              
              <!-- /.box-body -->

              <div class="box-footer">
                <button type="submit" class="btn btn-success pull-right">提交</button>
              </div>
            </form>
          </div>
          <!-- /.box -->

        </div>
        <!--/.col (left) -->
        <!-- right column -->
        <div class="col-md-9">
            <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">渠道管理</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form">
              <div class="box-body">
                <div class="form-group">
                <label>选取渠道</label>
                <select class="form-control select2" multiple="multiple" data-placeholder="点击开始选择"
                        style="width: 100%;">
                  <option>J1</option>
                  <option>J2</option>
                  <option>J3</option>
                  <option>J4</option>
                  <option>J5</option>
                  <option>J6</option>
                  <option>J7</option>
                  <option>J8</option>
                  <option>J9</option>
                  <option>J10</option>
                  <option>J11</option>
                  <option>J12</option>
                </select>
              </div>
              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                <button type="submit" class="btn btn-primary pull-right">提交</button>
              </div>
            </form>
          </div>
              

        </div>
        <!--/.col (right) -->
      </div>



 {/block}

{block name="jstwo"}

<script src="/static/admin/bower_components/select2/dist/js/select2.full.min.js"></script>
<script>
	$('.select2').select2()
</script>


{/block}